*
  box-sizing: border-box
body
  font-family: 'Nunito', sans-serif
  @font-face
    font-family: 'Muli'
    src: url('Muli-Bold.woff2') format('woff2')
    src: url('Muli-SemiBold.woff2') format('woff2')
    src: url('Muli-SemiBold.woff') format('woff')
    src: url('Muli-SemiBold.woff') format('woff')
.container 
   max-width: 1110px
   margin: auto